@import "./base.css";

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

.options {
  margin-top: 0.75rem;
  display: flex;
  flex-direction: column;
}

.option {
  display: flex;
  align-items: center;
  margin-right: 50%;
  margin-bottom: 10px;
  padding: 3px;
  border: 2px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.option:hover {
  background-color: #eee;
}

button {
  border: none;
  background-color: transparent;
  color: #4d94ff;
  cursor: pointer;
  font-size: 15px;
  text-align: left;
  position: relative; /* added for the absolute positioned ::after pseudo element */
}

button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #4d94ff;
  transform: scaleX(0); /* start with no underline */
  transform-origin: left;
  transition: transform 0.3s ease-in-out; /* add a transition */
}

button:hover:not(:disabled)::after {
  transform: scaleX(1); /* show the underline */
}

button:disabled {
  color: #6c757d;
  cursor: not-allowed;
}

.progress-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #ccc;
}

.progress-bar__fill {
  height: 100%;
  background-color: #0077ff;
}
@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
